body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width:600px){
  .CustomerList{
    margin: 0 0 0 2.5rem;
  }
  .InvoiceList{
    margin: 0 0 0 5.5rem;
    width: 400px;
    
  }

  .ReminderSection{
    margin: 0 0 0 5.5rem;
  }
  .GridContainer{
    margin: 0 0 0 4rem;
  }


};








